<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script language="javascript" src="app/components/angular.min.js"></script>
    <script language="javascript" src="app/app.js"></script>
  </head>
  <body>
    <div ng-app="myapp">
      <!-- phần 1 -->
      <div ng-controller="controller1">
        <input type="text" ng-model="data.message"/>
        {{data.message}}
      </div>
      <div ng-controller="controller2">
        <input type="text" ng-model="data.messages"/>
        {{data.message}}
      </div><br/>
      <!-- phần 2 -->
      <div ng-controller="maytinh">
        <input type="text" ng-model="so1"> <br/>
        <input type="text" ng-model="so2"> <br/>
        <select ng-model="pheptoan">
          <option value="+">+</option>
          <option value="-">-</option>
          <option value="*">*</option>
          <option value="/">:</option>
        </select>
        <button ng-click="tinh()" > xem ket qua</button>
        {{ketqua}}
      </div> <br/>
      <!-- phần 3 -->
      <div ng-controller="loginController">
        <div ng-formlogin></div>
    </div><br/>
    <!-- phần 4 -->
    <div ng-controller="MessageController">
     <div message>
       content here
     </div>
    </div><br/>
   <!-- // phần 6 Directive Linking -->
    <div ng-controller="MessageController1">
      <message>noi dung</message>
    </div><br/>
   <!-- Phần 7 Diẻctive Íolating -->
    <div ng-controller="MessageController1">
     <message>noi dung</message>
    </div><br/>

  </body>
</html>
<!-- https://www.youtube.com/watch?v=O2vRos43p9U&index=12&list=PLVDrFuSRIRPXyrolQfU3GxTP-lPcbYm8H -->
